venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3
*.log
*.pot
*.mo
*.swp
.DS_Store
.idea/
*.sublime-project
*.sublime-workspace
*.vscode/
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.zip
coverage/
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.pyre/
.mypy_cache/
credentials.json
